#gumb {
    background-color: #4BBF50;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#kreirajSporocilo {
    padding: 10px 12px;
}

.include {
    width: 100px;
    margin: 5px auto;
}
.include .box {
    width: 15%;
    float: left;
    margin-left: 2px;
}
.include .box #piechart {
    
    position: relative;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#klikni:hover {
    background-color: #ffa64d;
     text-decoration: underline;
}
#klikni1:hover {
    background-color: #ffa64d;
     text-decoration: underline;
}
#klikni2:hover {
    background-color: #ffa64d;
     text-decoration: underline;
}
#klikni3:hover {
    background-color: #ffa64d;
     text-decoration: underline;
}
#klikni4:hover {
    background-color: #ffa64d;
     text-decoration: underline;
}
#klikni5:hover {
    background-color: #ffa64d;
     text-decoration: underline;
}
#klikni6:hover {
    background-color: #ffa64d;
     text-decoration: underline;
}
#menu {
    display: none;
    width: 100px;
    
}
#menu1 {
    display: none;
    
}
#menu2 {
    display: none;
    
}
#menu3 {
    display: none;
    width: 50%;
    
}
#menu4 {
    display: none;
    
}
#menu5 {
    display: none;
    
}
#menu6 {
    display: none;
    
}